<%+ extend('layout/user')  %> 
<%+ section('title', 'Home') %> 
<%+ section('content') %> 
<div class="container px-4 py-5" id="course">
  <h2 class="pb-2 border-bottom mb-4">Course List</h2>
  <div class="text-center mb-4">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <a href="/users/<%= id %>?filter=" class="btn btn-outline-primary">All</a>
      <% categories.forEach(element => { %>
        <a href="/users/<%= id %>?filter=<%= element.id %>" class="btn btn-outline-primary"><%= element.name %> </a>
      <% }) %>
    </div>
  </div>

  <hr>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <% course.forEach(element => { %>
      <div class="col d-flex align-items-start mb-4">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <img src="/public/images/logo.png" class="bi me-4" height="64" alt="" >
        </div>
        <div>
          <h4><%= element.name  %></h4>
          <p  class="text-muted"><%= element.pricingFormatted %>
            <br>
            <small>
              has been enrolled by <%= element.dataValues.Users.length %> user
            </small>
          </p>
          <p><%= element.description %>.</p>
          <a href="/users/<%= id %>/enroll/<%= element.id %>" class="btn btn-primary btn-sm">Eroll Now</a>
        </div>
      </div>
      <% }) %>
  </div>
</div>
<%+ endSection %>