<%+ extend('layout/user')  %> 
<%+ section('title', 'Home') %> 
<%+ section('content') %> 
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-2">
    <h2 class="text-center">Course Enrolled By <code><%= user.Profile.fullName %> </code></h2>
    <hr>
    <table class="table">
      <thead>
        <th>#</th>
        <th>Course Name</th>
        <th>Date Enrolled</th>
        <th>Payment</th>
        <th>Status</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% let i = 1; user.Courses.forEach(element => { %>
          <tr>
            <td><%= i++ %></td>
            <td><%= element.name %></td>
            <td><%= element.dataValues.UserCourse.formattedDate %></td>
            <td><%= element.dataValues.UserCourse.statusPayment %></td>
            <td>
              <a href="/users/<%= id %>/status/<%= element.dataValues.UserCourse.CourseId %>" class="btn btn-sm btn-<%= element.dataValues.UserCourse.statusCourse === 'Clear'? 'success':'secondary' %> w-100"><%= element.dataValues.UserCourse.statusCourse %></a>
            </td>
            <td>
              <a href="/users/<%= id %>/destroy/<%= element.dataValues.UserCourse.CourseId %>" class="btn btn-secondary btn-sm">Delete</a>
              <a href="/users/<%= id %>/print/<%= element.dataValues.UserCourse.CourseId %>" class="btn btn-primary btn-sm">Print Invoice</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<%+ endSection %>